#about
{
    height: 150vh;
    width: 100vw;
    background: url("../media/papyrus.png");
    /* background-size: 100h 100vw; */
}

#icon-holder
{
   margin-left: 10vw;
}.icon-wrapper
{
    height: 90px;
    width: 90px;
    display: inline-flex;
    /* margin-left: 15vw; */
    border: teal 10px solid;
    margin-left: 15vw;
    margin-top: 5%;
    background-color: #1b242f;
    color: teal;
    transform: rotate(-45deg);
    
}
.icon
{
    transform: rotate(45deg);
    padding-top:14.5px;
    padding-left:19.5px;
    

}

.icon-wrapper:hover
{
    color: #E31B6D;
    border:#E31B6D 10px solid;
    transform: rotate(-45deg);
}
.icon-wrapper:active
{
    color: red;
    border:red 10px solid;
    transform: rotate(-45deg);

}

#about-me
{
    margin-left: 14.5vw;
    padding-top: 15%;
    width: 100%;
    height: 70%;

}
#pic_container
{
    width: 20%;
    height: 68%;
    background-color: #1b242f;
    float: left;
    border: teal 10px solid;
    position: absolute; 
    padding-left:6.5%;   

}
#square {
    margin-top: -7vw;
    width: 12vw;
    height: 12vw;
    transform: rotate(-45deg);
    overflow: hidden;
    border: teal 10px solid;

  }
#me
{
    transform: rotate(45deg);
    margin: -3vw;
    width: 20vw;
    height: 20vw;
    /* float: left; */
    position: absolute;

}
#about-text
{
    margin-top: 5vw;
    padding-left: 2vh;
    padding-right: 2vh;

    text-align: center;
    margin-left: -6vw;
    color: white;
    font-size: 16px;
    position: relative;
    float: inherit;

}
#skills
{
    /* margin-top: -20%; */
    width: 20%;
    height: 65%;
    margin-right: 25%;
    background-color: #1b242f;
    float: right;
    border: teal 10px solid;
    position: relative;

    
}
#skills-container
{
    padding-left: 20%;

}
#flanguages
{
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 7%;
    font-size: 20px;
    color: white;

    
}
#flanguagestwo
{
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    font-size: 20px;
    color: white;
}

ul
{
    columns: 2;
}