#projects
{
    height: 130vh;
    width: 100vw;
    background: url("../media/swirl.png");
    /* background-color: seashell; */
}

#project-container
{
    width: 65vw;
    /* height: 50vh; */
    /* border: 3px solid black; */
    margin-top: 5%;
    margin-left: 18%;
    /* background-color: aliceblue;   */
}

#project-header
{
    display: inline-flex;
    width: 70vw; 
    /* padding-left: 20%; */
    margin-left: -6.5%;
    padding-top: 1%;
}
#project-underline
{
    width: 65vw;
    height: 3px;
    background: black;
    /* margin: auto; */

}
.section-holder
{
    padding-bottom: 1%;
    width: 20%;
    height: 10%;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    margin-left: 5%;



}
.pactive
{  
    background-color: #8A2BE2;
    color:white;

    padding-bottom: 1%;
    width: 20%;
    height: 10%;

    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    margin-left: 5%;
    margin-bottom: 1%;
    /* border-radius: 30%; */
    border: 1px solid black;


}
.section-holder:hover
{
    cursor: pointer; 

}

#sticker-wrapper
{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.5%;
    display: flex;
    flex-wrap: wrap;
}

.project-sticker
{
    flex-basis: 33.333333%;
    width: 330px;
    height: 330px;

}

.project-sticker:hover
{
    opacity: .5;
    
}
.project-sticker:active
{
    opacity: 1;
}